<% content_for :head do %>
	<title>Consigliere - Editing <%= @static_page.title %></title>
<% end %>

<div class="myrow">
	<div class="col-md-10 col-md-offset-1">
		<h1>Editing <%= @static_page.title %></h1>
		<%= render 'form' %>
	</div>
</div>