- set_meta_tags title: "Edit Article - #{@article.title}",
                description: "Edit article page",
                keywords: "edit, article, page, iOS, Ruby, Rails, Swift, Objective C, developer, development, Apple, iPhone, iPad, iPod touch, freelance, freelancer, oDesk, elance",
                noindex: true

.myrow
  .col-md-10.col-md-offset-1
    = render 'form'