- set_meta_tags title: "New Article",
                description: "New article page",
                keywords: "new, article, page, iOS, Ruby, Rails, Swift, Objective C, developer, development, Apple, iPhone, iPad, iPod touch, freelance, freelancer, oDesk, elance",
                noindex: true

.myrow
  .col-md-10.col-md-offset-1
    h1 New Article
    = render 'form'