<% content_for :head do %>
	<title>Consigliere - New Article</title>
<% end %>

<div class="myrow">
	<div class="col-md-10 col-md-offset-1">
		<h1>New article</h1>
		<%= render 'form' %>
	</div>
</div>