<% content_for :head do %>
	<title>Consigliere - Edit Project "<%= @project.title %>"</title>
<% end %>

<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<%= render 'form' %>
	</div>
</div>