// Import jQuery UI stylesheets
@import 'jquery-ui';
// Import variables
@import 'variables';

$right-block-width: 250px;

ol.admin-list {
  .left {
    display: inline-block;
    text-align: left;
    width: calc(100% - #{$right-block-width});
    margin-right: -0.25em;
  }
  .right {
    display: inline-block;
    text-align: right;
    width: $right-block-width;
    margin-right: -0.25em;
  }
  .button.small {
    margin-left: 5px;
  }
}