//= require_self
//= require_tree .
//= require syntaxhighliter/shCore.css
//= require syntaxhighliter/shThemeDefault.css

@import 'bootstrap-sprockets'
@import 'bootstrap'

body
  padding-top: 60px
  padding-bottom: 40px
  margin: 10px

img
  max-width: 100%
  height:auto