.article {
  padding-left: 10px;
  padding-right: 10px;
  .title {
    
  }
  .content {
    pre {
      font-size: 14px;
      background-color: white;
      border: none;
      padding: 0px;
    }
  }
  img {
    max-width: 100%;
  }
}