.article {
  .title {
    font-size: 1.2em;
    font-weight: bold;
  }
  .preview-image {
    float: left;
    width: 150px;
    height: 100px;
    margin-right: 10px;
  }
  .publishing-information {
    margin: 25px 0;
    p {
      font-style: italic;
      margin-bottom: 0;
    }
  }
  .content {
    pre {
      font-size: 14px;
      background-color: white;
      border: none;
      padding: 0px;
    }
  }
  img {
    max-width: 100%;
  }
  p {
    margin-bottom: 15px;
  }
}