$text-bottom-margin: 20px;
$article-font-size: 16px;
.article {
  .title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .preview-image {
    float: left;
    width: 150px;
    height: 100px;
    margin-right: 10px;
  }
  .publishing-information {
    margin: 25px 0;
    p {
      font-style: italic;
      margin-bottom: 0;
    }
  }
  .content {
    p {
      font-size: $article-font-size;
      margin-bottom: $text-bottom-margin;
    }
    pre {
      font-size: $article-font-size;
      font-family: monospace;
      border: none;
      padding: 0px;
      margin-bottom: $text-bottom-margin;
    }
    ul, ol {
      list-style-position: inside;
      margin: 20px 0 20px 20px;
      li {
        margin-bottom: 10px;
      }
    }
  }
  img {
    max-width: 100%;
  }
}