.button {
  border: 1px solid $main-color;
  border-radius: 5px;
  display: inline-block;
  padding: 5px 10px;
  font-size: 16px;
  color: $main-color;
}
.button:hover {
  background-color: $main-color;
  color: #ffffff;
  transition: all 0.25s;
}
input[type=submit].button {
  cursor: pointer;
  padding-top: 4px;
  padding-bottom: 4px;
}
.buttons,
.actions {
  .button {
    margin-right: 5px;
  }
}
