.button {
  border-radius: 5px;
  display: inline-block;
  
  // Sizing
  padding: 5px 10px;
  font-size: 16px;
  line-height: 22px;
  
  // Coloring
  border: 1px solid $main-color;
  color: $main-color;
}
.button:hover {
  // Coloring
  background-color: $main-color;
  color: #ffffff;
  transition: all 0.25s;
}
.button.small {
  // Sizing
  font-size: 14px;
  line-height: 18px;
  padding: 4px 8px;
}
.button.red {
  // Coloring
  border: 1px solid $red-color;
  color: $red-color;
}
.button.red:hover {
  // Coloring
  background-color: $red-color;
  color: #ffffff;
}
.button.orange {
  // Coloring
  border: 1px solid $orange-color;
  color: $orange-color;
}
.button.orange:hover {
  // Coloring
  background-color: $orange-color;
  color: #ffffff;
}
.button.green {
  // Coloring
  border: 1px solid $green-color;
  color: $green-color;
}
.button.green:hover {
  // Coloring
  background-color: $green-color;
  color: #ffffff;
}
input[type=submit].button {
  cursor: pointer;
}
// Fix for Firefoxe's wrong line-height on submit
input::-moz-focus-inner { 
  border: 0; 
  padding: 0; 
}
.buttons,
.actions {
  .button {
    margin-left: 5px;
    margin-right: 5px;
  }
}
.buttons.left,
.actions.left {
  .button {
    margin-left: 0px;
    margin-right: 5px;
  }
}
.buttons.right,
.actions.right {
  .button {
    margin-left: 5px;
    margin-right: 0px;
  }
}