.button {
  border: 1px solid $main-color;
  border-radius: 5px;
  display: inline;
  padding: 5px 10px;
}
.button:hover {
  background-color: $main-color;
  color: #ffffff;
  transition: all 0.25s;
}
.buttons,
.actions {
  .button {
    margin-right: 5px;
    line-height: 50px;
  }
}