nav {
  ul {
    margin-right: -0.25em;
    display: inline-block;
    
    li {
      display: inline;
      margin: 0 8px;
      font-size: 20px;
    }
  }
  ul.left {
    width: 70%;
    text-align: left;
  }
  ul.right {
    width: 30%;
    text-align: right;
  }
}
nav.fixed {
  position: fixed;
  top:0;
  width: 100%;
}
body {
  padding-top: 60px;
}