// Social networks icons, packed in font
@font-face {
  font-family: 'si';
  src:  font-url('/fonts/socicon/socicon.eot');
  src:  font-url('/fonts/socicon/socicon.eot?#iefix') format('eot'),
        font-url('/fonts/socicon/socicon.woff') format('woff'),
        font-url('/fonts/socicon/socicon.ttf') format('truetype'),
        font-url('/fonts/socicon/socicon.svg#icomoonregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: si;
    src: font-url('/fonts/socicon/socicon.svg') format(svg);
  }
}

.social {
  overflow:hidden;
  margin:0; padding:0;
  list-style:none;
}
.social li {
  display:inline-block;
  *display:inline;
  zoom:1;
}
.social li a {
  font-family:si!important;
  font-style:normal;
  font-weight:400;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -ms-box-sizing:border-box;
  -o-box-sizing:border-box;
  box-sizing:border-box;
	
  -o-transition:.1s;
  -ms-transition:.1s;
  -moz-transition:.1s;
  -webkit-transition:.1s;
  transition:.1s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
	
  overflow:hidden;
  text-decoration:none;
  text-align:center;
  display:block;
  position: relative;
  z-index: 1;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 27px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  margin-right: 5px;
  color: #ffffff;
  background-color: none;
}
.social a:hover {
  z-index: 2;
}
.social-icon-last{
  margin:0 !important;
}
.social-facebook {
  background-color: #3e5b98;
}
.social-facebook:before {
  content:'b';
}
.social-twitter {
  background-color: #4da7de;
}
.social-twitter:before {
  content:'a';
}
.social-vkontakte {
  background-color: #5a7fa6;
}
.social-vkontakte:before {
  content:';';
}
.social-google {
  background-color: #d93e2d;
}
.social-google:before {
  content:'c';
}
.social-linkedin {
  background-color: #3371b7;
}
.social-linkedin:before {
  content:'j';
}
.social-pinterest {
  background-color: #c92619;
}
.social-pinterest:before {
  content:'d';
}
.social-facebook:hover {
  background-color: #526fac;
}
.social-twitter:hover {
  background-color: #61bbf2;
}
.social-vkontakte:hover {
  background-color: #6e93ba;
}
.social-google:hover {
  background-color: #ed5241;
}
.social-linkedin:hover {
  background-color: #4785cb;
}
.social-pinterest:hover {
  background-color: #dd3a2d;
}